services:
  # 1. API MANAGER 
  api_manager:
    build: ./API_Service
    container_name: api_manager
    environment:
      - PYTHONUNBUFFERED=1
      - API_TOKEN=${API_TOKEN}
      - LONDON_BOUNDS=${LONDON_BOUNDS}
      - SCAN_INTERVAL=${SCAN_INTERVAL}
    depends_on:
      db_security:
        condition: service_started 
    networks:
      - internal_network

  # 2. DB SECURITY 
  db_security:
    build: ./DB_Security
    container_name: db_security
    env_file: .env   
    depends_on:
      db:
        condition: service_healthy 
    networks:
      - internal_network

  # 3. DATA BASE
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    
    # --- HEALTHCHECK ---
    healthcheck:
      # Verify that the user and the database exist and are responding
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s   
      timeout: 5s    
      retries: 5     
    # -------------------

    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal_network

  # 4. HISTORICAL MANAGER
  historical_manager:
    build:  ./HistoricalData
    container_name: historical_manager
    environment:
      - PYTHONUNBUFFERED=1
      - OPENAQ_API_KEY=${OPENAQ_API_KEY}
      - OPENAQ_BOUNDS=${OPENAQ_BOUNDS}
    depends_on:
      db_security:
        condition: service_started
    networks:
      - internal_network

networks:
  internal_network:

volumes:
  postgres_data: