

services:
  # 1. API MANAGER 
  api_manager:
    build: ./API_Service
    container_name: api_manager
    environment:
      - API_TOKEN=${API_TOKEN}
      - LONDON_BOUNDS=${LONDON_BOUNDS}
      - SCAN_INTERVAL=${SCAN_INTERVAL}
    depends_on:
      db_security:
        condition: service_started 
    networks:
      - internal_network

  # 2. DB API 
  db_security:
    build: ./DB_Security
    container_name: db_security
    env_file: .env   
    depends_on:
      db:
        condition: service_healthy 
    networks:
      - internal_network

  # 3. DATA BASE
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    
    # --- HEALTHCHECK ---
    healthcheck:
      # See if PostGres is ready.
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s   
      timeout: 5s    
      retries: 5     
    # ---------------------------------

    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internal_network

    # 4. TRANSFORMATION (DBT)
  dbt_transform:
    build: ./DBT  
    container_name: dbt_transform
    working_dir: /app
    volumes:
      - ./DBT:/app          
    environment:
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
      - DB_HOST=db        
      - DBT_PROFILES_DIR=/app
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal_network
    # We keep it turned on so we can enter and execute commands
    entrypoint: ["tail", "-f", "/dev/null"]

networks:
  internal_network:

volumes:
  postgres_data: