services:
  # --- 1. DATA BASE ---
  db:
    image: postgres:15
    container_name: postgres_seguro
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./API_DB/postgres_data:/var/lib/postgresql/data
    restart: always

  # --- 2. API DB ---
  api-db:
    build: ./API_DB
    container_name: api_database
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
    restart: always

  # --- 3. API WAQI REALTIME ---
  api_manager:
    build: ./API_Service
    container_name: api_manager_waqi
    depends_on:
      - api-db
    environment:
      - PYTHONUNBUFFERED=1
      - WAQI_API_TOKEN=${WAQI_API_TOKEN} 
      - LONDON_BOUNDS=${LONDON_BOUNDS}
      - SCAN_INTERVAL=${SCAN_INTERVAL}
      - API_URL=http://api-db:8000/insertar-datos
      - API_TOKEN_APIDB_REALTIME=${API_TOKEN_APIDB_REALTIME} 
    restart: always

  # --- 4. API OPENAQ HISTORICAL DATA ---
  historical_data:
    build: ./HistoricalData
    container_name: historical_manager_openaq
    depends_on:
      - api-db
    environment:
      - PYTHONUNBUFFERED=1
      - OPENAQ_API_KEY=${OPENAQ_API_KEY}
      - OPENAQ_BOUNDS=${OPENAQ_BOUNDS}
      - API_URL=http://api-db:8000/insertar-datos
      - API_TOKEN_APIDB_HISTORICAL=${API_TOKEN_APIDB_HISTORICAL}
    restart: always

  # --- 5. DBT ---
  dbt_transform:
    build: ./DBT
    container_name: dbt_london
    depends_on:
      - db
    volumes:
      - ./DBT:/app
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: always

  # --- 6. GRAFAMA ---
  grafana:
    build: ./grafana
    container_name: grafana_london
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/grafana_vis:/etc/grafana/grafana_vis
    depends_on:
      - db
    environment:
      # Pasamos las variables para que el datasource.yml las use
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: always

